In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 33 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 41.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=e5ed245af08a599fac7c0ca0a1afa0460069721e777045dc18263d259338f3f7
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [ ]:
import pyspark

In [19]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
spark = SparkSession.builder.getOrCreate()

df = spark.sql("select 'spark' as hello ")

df.show()
schemaEmployee = StructType()\
.add("id",LongType(),True)\
.add("first_name",StringType(),True)\
.add("last_name",StringType(),True)\
.add("salary",DoubleType(),True)\
.add("dept_id",IntegerType(),True)
employee = spark.read.format("csv")\
.option("header",True)\
.schema(schemaEmployee).load("/users.csv")

sql = employee.select(employee.columns)
sql.show()

schemaDept = StructType()\
.add("dept_id",IntegerType(),True)\
.add("dept_name",StringType(),True)\
.add("salary_increment",DoubleType(),True)
department = spark.read.format("csv")\
.option("header",True)\
.schema(schemaDept).load("/departments.csv")
sql = department.select(department.columns)
sql.show()

updated_salaries = employee.join(department,employee["dept_id"] == department["dept_id"],"left").select(employee.id.alias("employee_id"),(employee.salary*department.salary_increment).alias("updated_salary"))
updated_salaries.repartition(1).write.option("header","true").format("csv").save("/Final/updated_salaries")
# print(employee.schema)
# employee.show()

+-----+
|hello|
+-----+
|spark|
+-----+

+-----+----------+---------+------+-------+
|   id|first_name|last_name|salary|dept_id|
+-----+----------+---------+------+-------+
|10000|    Darius|  Mufutau|3901.0|      1|
|10001|     Tiger|  Elliott|5489.0|      2|
|10002|     Malik| Macaulay|5444.0|      3|
|10003|       Ali|    Vance|8993.0|      4|
|10004|   Randall|   Deacon|9515.0|      2|
|10005|    Josiah|      Lee|8113.0|      3|
|10006|     Dante| Mohammad|8446.0|      3|
|10007|     Wyatt|    Kuame|4817.0|      4|
|10008|     Quinn|   Oliver|5513.0|      1|
|10009|    Oliver|     Gary|5158.0|      2|
|10010|     Thane|   Phelan|4957.0|      3|
|10011|    Walter|   Lester|3864.0|      1|
|10012|    Samson|    Dolan|6855.0|      2|
|10013|      Beck|   Walker|7077.0|      3|
|10014|     Lucas| Marshall|7499.0|      4|
|10015|      John|     Nash|4269.0|      2|
|10016|   Quinlan|  Elliott|7503.0|      3|
|10017|      Ivan|   Dennis|4048.0|      3|
|10018|      Wang|    Ronan|9319.0|      4|
|10019|     Stone|  Jameson|9354.0|      1|
+-----+----------+---------+------+-------+
only showing top 20 rows

+-------+---------+----------------+
|dept_id|dept_name|salary_increment|
+-------+---------+----------------+
|      1|  Finance|            10.0|
|      2|       IT|            15.0|
|      3|    Sales|            30.0|
|      4|Marketing|            25.0|
+-------+---------+----------------+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
schemaDept = StructType()\
.add("dept_id",IntegerType(),True)\
.add("dept_name",StringType(),True)\
.add("salary_increment",DoubleType(),True)
department = spark.read.format("csv")\
.option("header",True)\
.schema(schemaDept).load("departments.csv")
sql = department.select(department.columns)
sql.show()

updated_salaries = employee.join(department,employee["dept_id"] == department["dept_id"],"left").select(employee.id.alias("employee_id"),(employee.salary*department.salary_increment).alias("updated_salary")).show()

+-------+---------+----------------+
|dept_id|dept_name|salary_increment|
+-------+---------+----------------+
|      1|  Finance|            10.0|
|      2|       IT|            15.0|
|      3|    Sales|            30.0|
|      4|Marketing|            25.0|
+-------+---------+----------------+

+-----------+--------------+
|employee_id|updated_salary|
+-----------+--------------+
|      10000|       39010.0|
|      10001|       82335.0|
|      10002|      163320.0|
|      10003|      224825.0|
|      10004|      142725.0|
|      10005|      243390.0|
|      10006|      253380.0|
|      10007|      120425.0|
|      10008|       55130.0|
|      10009|       77370.0|
|      10010|      148710.0|
|      10011|       38640.0|
|      10012|      102825.0|
|      10013|      212310.0|
|      10014|      187475.0|
|      10015|       64035.0|
|      10016|      225090.0|
|      10017|      121440.0|
|      10018|      232975.0|
|      10019|       93540.0|
+-----------+--------------+
only showing top 20 rows

# New Section